@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	/*background: black;*/
}

.wrapper{
	margin: 0 auto;
	/*max-width:960px;
  min-width:550px;*/
  width:550px;
	background-color: #FFFFFF;
  padding: 20px 20px;
  margin-top: 20px; 
  border: 1px solid #DDD;
}
#data_table{
  border: 1px solid #DDD;
  margin-top: 5px;
  font-size: 11px;
}
.dataTables_filter, #data_table_length {
     display: none;
}
#map {
  height:300px; 
  width:100%; 
}

#data_table_input_textfield{
  border: 1px solid #DDD;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 23px;
  /*padding-left: 15px;*/
   text-indent:15px;

}
#data_table_paginate > span > a{
  border: 1px solid #A2A2A2;
}

.textFieldWrapper{

}

#data_table {
  /*table-layout: fixed;*/
}
#data_table th, #data_table td {
    /* max-width: 100px;
     min-width: 70px;*/
     /*width: ;*/
     overflow: hidden;
     text-overflow: ellipsis;
     /*white-space: nowrap;*/

}
.inner_tr{
  background-color: white !important;
}

/*
.time-row {
    width: 1px !important;
}
*/
.inner-content span{
  font-weight: bold;
}
.inner-content p{
  padding-top: 10px;
 /*padding-bottom: 10px;*/
  border-top: 1px solid #DDD;
}

#data_table td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
    background-color: #666;
    width: 20px;
    background-size: 15px 15px;
}
#data_table tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
    background-color: #aaa;
    width: 20px;
       background-size: 15px 15px;
}

.map-marker{
  z-index: 1000;
}
.time-small{
  font-size: 12px;

}