@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	background: #F5F5F5;
}

.wrapper{
	margin: 0 auto;
	max-width:960px;
  min-width:550px;
	/*height: 1000px;*/
	background: #FFFFFF;
  padding: 20px 20px;
  border: 1px solid #000;
}
#data_table{
  border: 1px solid #000;
  margin-top: 5px;
}
.dataTables_filter, #data_table_length {
     display: none;
}
#map {
  height:300px; 
  width:100%; 
}

#myInputTextField{
  border: 1px solid;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 23px;
  /*padding-left: 15px;*/
   text-indent:15px;

}
#data_table_paginate > span > a{

}

.textFieldWrapper{

}

#data_table {
  table-layout: fixed;
}
#data_table th, #data_table td {
    /* max-width: 100px;
     min-width: 70px;*/
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     /*white-space: nowrap;*/
}
